body {
  text-align: center;
  font-size: 1.5rem;
  background-color: aliceblue;
}

button {
  margin: 1rem;
  padding: 1rem;
  font-size: 1.5rem;
  width: 120px;
  border-radius: 35px;
}
select {
  margin-bottom: 2rem;
}